body {
  overflow-x: hidden;
}
body .header {
  width: 100%;
  height: 70px;
}
body .header .header-container {
  display: flex;
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
body .header .header-container .header-container-logo {
  margin: 15px 0;
  cursor: pointer;
}
body .header .header-container .header-container-list {
  display: inline-block;
}
body .header .header-container .header-container-nav {
  wrap-option: nowrap;
}
body .header .header-container .header-container-nav .header-container-nav-address {
  display: inline-block;
  margin: 25px 70px;
}
body .header .header-container .header-container-nav .header-container-nav-address img {
  vertical-align: middle;
  display: inline-block;
  margin: -2px -5px 0 0;
  cursor: pointer;
}
body .header .header-container .header-container-nav .header-container-nav-address div {
  font-weight: 700;
  color: #000;
  display: inline-block;
  cursor: pointer;
}
body .header .header-container .header-container-nav .header-container-nav-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  wrap-option: nowrap;
}
body .header .header-container .header-container-nav .header-container-nav-list li {
  list-style: none;
  display: inline-block;
  margin: 15px 15px;
}
body .header .header-container .header-container-nav .header-container-nav-list li * {
  color: #000;
  cursor: pointer;
}
body .header .header-container .header-container-nav .header-container-nav-list li a {
  font-weight: 700;
}
body .header .header-container .header-container-nav .header-container-nav-list .header-container-nav-login {
  padding: 10px 10px;
  background-color: #e94840;
  border-radius: 5px;
}
body .body .body-carousel .body-carousel-nav2 {
  display: none;
}
body .body .body-carousel .body-carousel-nav2 > ul {
  display: none;
}
body .body .body-carousel .body-carousel-nav {
  width: 180px;
  height: 420px;
  position: absolute;
  top: 70px;
  z-index: 3;
  left: 100px;
  background-color: #757881;
}
body .body .body-carousel .body-carousel-nav-list {
  display: inline-block;
  width: 180px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
body .body .body-carousel .body-carousel-nav-list li {
  width: 180px;
  height: 10%;
  list-style: none;
  cursor: pointer;
}
body .body .body-carousel .body-carousel-nav-list li a {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  margin: 13px 30px;
  align-items: center;
  letter-spacing: 2px;
}
body .body .body-carousel .body-carousel-nav-list li .body-carousel-nav-img1 {
  display: inline-block;
}
body .body .body-carousel .body-carousel-nav-list li .body-carousel-nav-img2 {
  display: none;
}
body .body .body-carousel li:hover {
  background-color: #60646d;
}
body .body .body-carousel li:hover .body-carousel-nav-img1 {
  display: none;
}
body .body .body-carousel li:hover .body-carousel-nav-img2 {
  display: inline-block;
  margin-left: 41px;
}
body .body .body-carousel li:hover .body-carousel-nav2 {
  display: block;
  width: 180px;
  height: 420px;
  position: absolute;
  top: 70px;
  z-index: 5;
  left: 280px;
  background-color: #757881;
}
body .body .body-carousel .body-carousel-nav-jtbj1:hover .body-carousel-nav-jtbj {
  display: inline-block;
  width: 180px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
body .body .body-carousel .body-carousel-nav-jtbj1:hover .body-carousel-nav-jtbj li {
  width: 180px;
  height: 10%;
  list-style: none;
  cursor: pointer;
}
body .body .body-carousel .body-carousel-nav-jtbj1:hover .body-carousel-nav-jtbj li a {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  margin: 13px 30px;
  align-items: center;
  letter-spacing: 2px;
}
body .body .body-content-container1 {
  width: 100%;
  background-color: #fff;
}
body .body .body-content-container1 .body-content-container1-column {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-generic {
  text-align: center;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-generic a {
  display: inline-block;
  font-weight: 900;
  font-size: 28px;
  cursor: pointer;
  color: #3d3838;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-classify {
  text-align: center;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-classify ul {
  margin: 20px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-classify ul li {
  display: inline-block;
  outline-style: none;
  color: #3d3838;
  font-size: 22px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-classify ul .body-content-container1-classify-more {
  position: absolute;
  right: 10%;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box {
  dispaly: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: space-around;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div {
  width: 17%;
  display: inline-block;
  border: 1px solid #eaeaea;
  padding: 10px 10px;
  cursor: pointer;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div img {
  width: 100%;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div .body-content-container1-box-title {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div .body-content-container1-box-text {
  margin-top: 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #929292;
  font-size: 13px;
  word-break: break-all;
  line-height: 18px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div .body-content-container1-box-price {
  margin-top: 18px;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div .body-content-container1-box-price .body-content-container1-box-price1 {
  color: #fb474f;
  font-size: 20px;
  font-weight: 600;
}
body .body .body-content-container1 .body-content-container1-column .body-content-container1-box > div .body-content-container1-box-price .body-content-container1-box-check {
  padding: 5px 5px 5px 5px;
  margin-left: 25px;
  background-color: #fb474f;
  font-size: 14px;
  border-radius: 5px;
}
body .body .body-city .body-city-box {
  width: 80%;
  padding: 60px 0 0 0;
  margin: 0 auto;
}
body .body .body-city .body-city-box .body-city-box1 {
  text-align: center;
}
body .body .body-city .body-city-box .body-city-box1 .body-city-h1 {
  font-weight: 800;
  font-size: 30px;
}
body .body .body-city .body-city-box .body-city-box1 .body-city-h2 {
  font-size: 22px;
  color: #3d3838;
  margin: 20px 0 30px 0;
}
body .body .body-city .body-city-box .body-city-box1 .body-city-h3 div {
  display: inline-block;
  margin: 0 10px;
}
body .body-city-box-citylist {
  margin: 50px 0 30px 0;
}
body .body-city-box-citylist .body-city-box-1 {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  font-weight: 700;
}
body .body-city-box-citylist .body-city-box-1 span {
  margin: 50px 0 0 80px;
}
body .body-city-box-citylist .body-city-box-2 {
  width: 80%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
body .body-city-box-citylist .body-city-box-2 ul {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
body .body-city-box-citylist .body-city-box-2 ul li {
  display: inline-block;
  list-style: none;
}
body .body-city-box-citylist .body-city-box-2 ul li a {
  display: inline-block;
  cursor: pointer;
}
body footer .footer-content .footer-content-container {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
body footer .footer-content .footer-content-container .footer-content-container-h1 {
  font-size: 15px;
  font-weight: 600;
}
body footer .footer-content .footer-content-container .footer-content-container-body ul {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
body footer .footer-content .footer-content-container .footer-content-container-body ul li {
  width: 10%;
  height: 50px;
}
body footer .footer-content .footer-content-container .footer-content-container-body ul li img {
  width: 100%;
}
